{% extends 'employee/employee_base.html' %}
{% load custom_filters %}
{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
<h2>Edit Profile</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Manually render each form field -->
    <div>
        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
        {{ form.first_name }}
    </div>
    
    <div>
        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
        {{ form.last_name }}
    </div>
    
    <div>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>
    
    <div>
        <label for="{{ form.prefix.id_for_label }}">Prefix:</label>
        {{ form.prefix }}
    </div>


    <!-- Change Password checkbox -->
    <div>
        <label for="{{ form.change_password.id_for_label }}">Change Password:</label>
        {{ form.change_password }}
    </div>

    <!-- Password fields that are conditionally shown -->
    <div id="password-fields" style="display: {% if form.change_password.value == 'on' %}block{% else %}none{% endif %}">
        <div>
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </div>
        
        <div>
            <label for="{{ form.confirm_password.id_for_label }}">Confirm Password:</label>
            {{ form.confirm_password }}
        </div>
    </div>

    <button type="submit">Save Changes</button>
</form>

<script>
    const changePasswordCheckbox = document.getElementById('id_change_password');
    const passwordFields = document.getElementById('password-fields');

    changePasswordCheckbox.addEventListener('change', function() {
        if (changePasswordCheckbox.checked) {
            passwordFields.style.display = 'block';
        } else {
            passwordFields.style.display = 'none';
        }
    });
</script>

{% endblock %}