{% load static %}
     
<div class="headerheaderlog"> 
    <div class="row-1">
        <div class="rowheaderlogo">
            <img src="{% static 'image/Icon.png' %}" alt="Admin Dashboard Logo" class="headerlogo_one" />
            <p class="curehealth-1 ui text size-textxs">
                <span class="curehealth-span"> CURE</span>
                <span class="curehealth-span-1"> HEATLH <br />MEDICAL CLINIC<br />ONLINE SYSTEM</span>
            </p>
        </div>
        <div class="rowprofileicono">
            <img src="{% static 'image/profile_ICON.png' %}" alt="Profileicon" class="profileiconone">
            <h4 class="admin ui heading size-headinglg-name">ADMIN</h4>
            <div class="rowlinetwo_one">
                <div class="linetwo_one"></div>
                <h4 class="ui heading size-headinglg-logout"><a href="{% url 'create_account' %}">CREATE ACCOUNT</a></h4>
            </div>
            <div class="rowlinetwo_one">
                <div class="linetwo_one"></div>
                <h4 class="ui heading size-headinglg-logout"><a href="{% url 'admin_logout' %}" data-bs-toggle="modal" data-bs-target="#exampleModal">LOGOUT</a></h4>
            </div>

            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CONFIRMATION!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to Logout?
        </div>
        <div class="modal-footer">
            <a href="{% url 'admin_logout' %}"><button type="button" class="btn btn-primary">Logout</button></a>
        </div>
      </div>
    </div>
  </div>
        </div>
    </div>
</div>