<div class="logo">

    </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">
                <i class="nc-icon nc-icon nc-paper-2"></i>
                <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">
                <i class="nc-icon nc-icon nc-paper-2"></i>
                <p>Create Account</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">
                <i class="nc-icon nc-icon nc-paper-2"></i>
                <p>Manage Accounts</p>
                </a>
            </li>
