{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">  
</head>
<body>
    <div class="bg">
        <div class="section">
            <div class="section_content"> 
                <div class="section_content_image-column">
                    <div class="section_content_text-row">
                        <div class="section_content_text-column">
                            <img src="{% static 'image/Icon.png' %}" alt="Secondary Logo" class="section_content_image" />
                            <p class="section_content_heading ui text size-textxs">
                                <span class="section_content_heading-span"> CURE </span>
                                <span class="section_content_heading-span-1"> 
                                    HEALTH <br /> 
                                    MEDICAL CLINIC <br /> ONLINE SYSTEM
                                </span>
                            </p>
                        </div>
                        <img src="{% static 'image/img_line_1.svg' %}" alt="Lineone" class="section_content_divider"/>
                    </div>
                </div>
                <div class="section_form">
                    <h1 class="section_form_title ui heading size-headings">LOGIN TO YOUR ACCOUNT</h1>
                    <div class="section_form_fields">
                        <label class="section_form_input--username ui input gray_200 size-xs fill round">
                            <input name="Username Field" placeholder="username" type="text" />
                        </label>
                        <label class="section_form_input--password ui input gray_200 size-xs fill round">
                            <input name="Password Field" placeholder="password" type="password" />
                        </label>
                        <a href="{% url 'employee_login' %}" class="forgot-password-link">
                            <h2 class="ui heading size-headingxs">EMPLOYEE LOGIN</h2>
                        </a>
                        <button class="section_form_button--login ui button blue_a100_6b size-lg fill round"><a href="{% url 'admin_dashboard' %}">LOGIN</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>     
        <!-- <h2>Admin Login</h2>
        --> <!-- This is the username/email input -->
        <!--     </div>
            <div class="input-field">
                <label for="id_password">Password:</label>
                {{ form.password }} --> <!--  This is the password input   -->
        <!--     </div>
            <div class="login-button">
                <button type="submit">Login</button>
            </div>
            <div class="admin-login">
                <a href="{% url 'employee_login' %}">Employee Login</a>
            </div>
        </form>
        </div>
        </div> -->
</body>
</html>