{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">  <!-- If you're using CSS -->
</head>
<body>
    <div class="login-container">
        <h2>Admin Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="input-field">
                <label for="id_username">Email/Username:</label>
                {{ form.username }}  <!-- This is the username/email input -->
            </div>
            <div class="input-field">
                <label for="id_password">Password:</label>
                {{ form.password }} <!--  This is the password input   -->
            </div>
            <div class="login-button">
                <button type="submit">Login</button>
            </div>
            <div class="admin-login">
                <a href="{% url 'employee_login' %}">Employee Login</a>
            </div>
        </form>

    </div>
</body>
</html>