<div class="container mt-5"></div>
<ul class="nav">
    <li class="nav-item">
      <a  href="{% url 'employee_dashboard' %}" class="nav-link">
          Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a  href="{% url 'employee_examination' %}" class="nav-link">
          Examination</a>
    </li>
    <li class="nav-item" role="presentation">
      <a  href="{% url 'employee_patients_list' %}" class="nav-link">
          Patients List</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{% url 'document_results' %}" class="nav-link">
          Document Results</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{% url 'associated_doctors' %}" class="nav-link">
          Associated Doctors</a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="{% url 'assoc_doc_readings' %}" class="nav-link">
          Associated Doctor's Readings</a>
    </li>
    
  </ul>