.bg_dashboard {
    height: 1024px;
    background-color: var(--white_a700);
    background-image: url('../image/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        height: auto;
        padding: 20px;
    }
}