.bg {
    height: 976px;
    background-image: url(image/BG.jpg);
    background-color: var(--white_a700);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 186px 56px;
    @media only screen and (max-width: 1050px) {
        height: auto;
        padding: 20px;        
    }
}

.section {
    background-color: var(--white_a700);
    box-shadow: var(--shadow-xs);
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1072px;
    margin-left: auto;
    margin-right: auto;
    padding: 76px 56px;
    border-radius: var(--radius-sm);
    @media only screen and (max-width: 1050px) {
        padding: 20px;
    }
}

.section_content {
    width: 100%;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.section_content_image-column {
    padding-left: 16px;
    padding-right: 16px;
    width: 42%;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.section_content_text-row {
    display: flex;
    align-items: start;
}

.section_content_text-column {
    margin-top: 26px;
    gap: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
}

.section_content_image{
    height: 242px;
    width: 82%;
    object-fit: contain;
}

.section_content_heading {
    text-align: center;
    font-weight: 600 !important;
    line-height: 42px;
}

.section_content_heading-span {
    color: var(--red_a400);
}

.section_content_heading-span-1 {
    color: var(--black_900);
}

.section_content_divider {
    height: 500px;
    align-self: center;
    width: 2%;
    object-fit: contain;
}

.section_form {
    gap: 44px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.section_form_title {
    color: var(--black_900) !important;
    align-self: end;
}

.section_form_fields {
    margin-left: 14px;
    margin-right: 14px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: end;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.section_form_input--username {
    color: var(--black_900_33) !important;
    padding: var(--space-xs);
    padding-right: var(--space-xs);
    background-color: var(--gray_200) !important;
    box-shadow: 0 7px 4px 0 var(--black_900_33) !important;
    width: 92%;
    height: 74%;
    border-radius: 24px !important;
}

.section_form_input--password {
    color: var(--black_900_33) !important;
    margin-top: 32px;
    padding: var(--space-xs);
    padding-right: var(--space-xs);
    background-color: var(--gray_200) !important;
    box-shadow: 0 7px 4px 0 var(--black_900_33) !important;
    width: 92%;
    height: 74%;
    border-radius: 24px !important;
}

.forgot-password-link {
    margin-top: 20px;
}

.section_form_buttton--login {
    color: var(--black_900_7f) !important;
    margin-top: 20px;
    margin-right: 108px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: var(--blue_a100_6b) !important;
    height: 74px;
    border-radius: 36px !important;
}


